.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__header {
    display: flex;
    height: 100px;
    padding-left: 48px;
  }

  &__day {
    position: relative;
    flex: 1;
    border-left: 1px solid #eee;
  }
}

.day-label {
  &__day-number {
    padding: 10px;
  }

  &__current-day {
    color: #fff;
    border-radius: 100%;
    background-color: #003dff;
  }
}